<!DOCTYPE html>
<html lang= "pt-br">
<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
<mat-sidenav-container>
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar><div><a [href]="['/pg-inicio']"><img src="assets\img\compra-online-1.png" id="logo"></a></div> </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink] ="['/memoria']"><b style=color:white>Memória ram</b></a>
      <a mat-list-item [routerLink] ="['/pla-video']"><b style=color:white>Placa de video</b></a>
      <a mat-list-item [routerLink] ="['/pla-mae']"><b style=color:white>Placa mãe</b></a>
      <a mat-list-item [routerLink] ="['/gabinete']"><b style=color:white>Gabinetes</b></a>
      <a mat-list-item [routerLink] ="['/monitor']"><b style=color:white>Monitores</b></a>
      <a mat-list-item [routerLink] ="['/processador']"><b style=color:white>Processadores</b></a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div>
        <nav>
          <div class="nav-wrapper">
            <form>
              <div class="input-field">
                <input id="search" type="search" required>
                <label class="label-icon" id="pesquisa" for="search"><i class="material-icons">search</i></label>
                <i class="material-icons"></i>
              </div>
            </form>
          </div>
        </nav>
      </div>
      <div>
       <a class="waves-effect waves-light btn" id="login"><a [routerLink] = "['/login']"><i class="material-icons right">person_pin</i>Login</a></a>
       <a class="waves-effect waves-light btn" id="carrinho"><a [routerLink] ="['/carrinho']"><i class="material-icons right">local_grocery_store</i>Carrinho</a></a>
    </div>
    </mat-toolbar>
    <div>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

</body>

</html>
